@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is Sample ASP.NET MVC Project</h1>
    <p class="lead">The reguired table is in the link below :)</p>
    <p>@Html.ActionLink("Sample table","Index","Motorbikes",null, new { @class = "btn btn-primary btn-lg" }) </p>
</div>
